.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.480000px;}
._2{width:2.680000px;}
._0{width:4.120000px;}
._8{width:5.360000px;}
._e{width:7.160000px;}
._9{width:8.920000px;}
._b{width:12.600000px;}
._c{width:14.880000px;}
._3{width:21.440000px;}
._d{width:29.600000px;}
._a{width:31.800000px;}
._6{width:55.200000px;}
._5{width:57.840000px;}
._7{width:63.216000px;}
._4{width:81.840000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.000000px;}
.fs4{font-size:36.000000px;}
.fs2{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y2{bottom:2.543000px;}
.y1d{bottom:3.118999px;}
.yc{bottom:8.644000px;}
.y23{bottom:14.405999px;}
.y22{bottom:24.755000px;}
.y1{bottom:25.500011px;}
.y21{bottom:35.316000px;}
.y20{bottom:46.815000px;}
.y3b{bottom:69.616017px;}
.y25{bottom:70.862988px;}
.y24{bottom:79.243004px;}
.y3a{bottom:84.715023px;}
.y39{bottom:97.938023px;}
.y38{bottom:111.161023px;}
.y37{bottom:124.384029px;}
.y1f{bottom:134.438004px;}
.y36{bottom:137.607029px;}
.y35{bottom:150.830029px;}
.y34{bottom:164.053013px;}
.y33{bottom:177.276013px;}
.y1e{bottom:192.752027px;}
.y32{bottom:200.498975px;}
.y31{bottom:223.721997px;}
.y0{bottom:225.000000px;}
.y1c{bottom:286.179994px;}
.y1b{bottom:301.297986px;}
.y1a{bottom:324.719991px;}
.y19{bottom:338.519002px;}
.y18{bottom:352.318013px;}
.y17{bottom:366.116994px;}
.y16{bottom:379.916005px;}
.y15{bottom:393.715016px;}
.y14{bottom:407.513997px;}
.y13{bottom:421.313008px;}
.y12{bottom:435.111989px;}
.y11{bottom:448.911000px;}
.y10{bottom:462.709996px;}
.yf{bottom:476.509007px;}
.y30{bottom:477.554996px;}
.y2f{bottom:489.053995px;}
.ye{bottom:489.884000px;}
.y2e{bottom:500.552995px;}
.yd{bottom:509.762997px;}
.yb{bottom:528.662996px;}
.ya{bottom:563.904999px;}
.y2d{bottom:573.341001px;}
.y9{bottom:575.403999px;}
.y8{bottom:586.903000px;}
.y2c{bottom:590.633007px;}
.y7{bottom:598.401997px;}
.y2b{bottom:607.881001px;}
.y6{bottom:609.901001px;}
.y5{bottom:621.400000px;}
.y2a{bottom:625.129002px;}
.y4{bottom:632.898999px;}
.y29{bottom:642.377003px;}
.y3{bottom:656.745003px;}
.y28{bottom:659.625002px;}
.y27{bottom:694.078002px;}
.y26{bottom:726.000000px;}
.h8{height:13.499000px;}
.h2{height:13.799000px;}
.h6{height:20.900000px;}
.hb{height:26.208984px;}
.hd{height:27.773438px;}
.h9{height:29.121094px;}
.h5{height:29.140625px;}
.h3{height:34.945312px;}
.h7{height:34.968750px;}
.hc{height:40.500000px;}
.h4{height:40.769531px;}
.ha{height:57.195000px;}
.h1{height:541.500000px;}
.h0{height:792.000000px;}
.w7{width:79.449997px;}
.w5{width:99.849998px;}
.w4{width:119.000000px;}
.w3{width:127.650002px;}
.wc{width:128.050003px;}
.w9{width:145.149994px;}
.we{width:146.300003px;}
.w6{width:159.600006px;}
.wa{width:181.949997px;}
.wb{width:206.000000px;}
.w8{width:277.899994px;}
.wd{width:490.500000px;}
.w1{width:499.000000px;}
.w2{width:611.999989px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.xf{left:6.400000px;}
.x3{left:20.199000px;}
.xa{left:23.180001px;}
.x9{left:44.700001px;}
.x7{left:45.800001px;}
.x0{left:56.000000px;}
.x14{left:74.700001px;}
.xc{left:89.341002px;}
.x15{left:92.700001px;}
.x8{left:98.849001px;}
.x2{left:111.930000px;}
.xb{left:133.649998px;}
.x12{left:165.991001px;}
.x4{left:181.400002px;}
.x13{left:232.849995px;}
.x10{left:235.699998px;}
.xe{left:240.433994px;}
.x5{left:298.399995px;}
.x6{left:396.250001px;}
.xd{left:410.050007px;}
.x11{left:439.700013px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.973333pt;}
._2{width:3.573333pt;}
._0{width:5.493333pt;}
._8{width:7.146667pt;}
._e{width:9.546667pt;}
._9{width:11.893333pt;}
._b{width:16.800000pt;}
._c{width:19.840000pt;}
._3{width:28.586667pt;}
._d{width:39.466667pt;}
._a{width:42.400000pt;}
._6{width:73.600000pt;}
._5{width:77.120000pt;}
._7{width:84.288000pt;}
._4{width:109.120000pt;}
.fs3{font-size:42.666667pt;}
.fs4{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y2{bottom:3.390667pt;}
.y1d{bottom:4.158666pt;}
.yc{bottom:11.525333pt;}
.y23{bottom:19.207999pt;}
.y22{bottom:33.006667pt;}
.y1{bottom:34.000015pt;}
.y21{bottom:47.088000pt;}
.y20{bottom:62.419999pt;}
.y3b{bottom:92.821356pt;}
.y25{bottom:94.483985pt;}
.y24{bottom:105.657338pt;}
.y3a{bottom:112.953364pt;}
.y39{bottom:130.584030pt;}
.y38{bottom:148.214698pt;}
.y37{bottom:165.845373pt;}
.y1f{bottom:179.250671pt;}
.y36{bottom:183.476039pt;}
.y35{bottom:201.106706pt;}
.y34{bottom:218.737350pt;}
.y33{bottom:236.368018pt;}
.y1e{bottom:257.002702pt;}
.y32{bottom:267.331966pt;}
.y31{bottom:298.295996pt;}
.y0{bottom:300.000000pt;}
.y1c{bottom:381.573325pt;}
.y1b{bottom:401.730648pt;}
.y1a{bottom:432.959988pt;}
.y19{bottom:451.358669pt;}
.y18{bottom:469.757351pt;}
.y17{bottom:488.155992pt;}
.y16{bottom:506.554674pt;}
.y15{bottom:524.953355pt;}
.y14{bottom:543.351996pt;}
.y13{bottom:561.750678pt;}
.y12{bottom:580.149319pt;}
.y11{bottom:598.548000pt;}
.y10{bottom:616.946662pt;}
.yf{bottom:635.345343pt;}
.y30{bottom:636.739994pt;}
.y2f{bottom:652.071993pt;}
.ye{bottom:653.178666pt;}
.y2e{bottom:667.403993pt;}
.yd{bottom:679.683996pt;}
.yb{bottom:704.883995pt;}
.ya{bottom:751.873332pt;}
.y2d{bottom:764.454667pt;}
.y9{bottom:767.205332pt;}
.y8{bottom:782.537333pt;}
.y2c{bottom:787.510676pt;}
.y7{bottom:797.869329pt;}
.y2b{bottom:810.508001pt;}
.y6{bottom:813.201335pt;}
.y5{bottom:828.533333pt;}
.y2a{bottom:833.505335pt;}
.y4{bottom:843.865332pt;}
.y29{bottom:856.502670pt;}
.y3{bottom:875.660004pt;}
.y28{bottom:879.500003pt;}
.y27{bottom:925.437336pt;}
.y26{bottom:968.000000pt;}
.h8{height:17.998666pt;}
.h2{height:18.398666pt;}
.h6{height:27.866666pt;}
.hb{height:34.945312pt;}
.hd{height:37.031250pt;}
.h9{height:38.828125pt;}
.h5{height:38.854167pt;}
.h3{height:46.593750pt;}
.h7{height:46.625000pt;}
.hc{height:54.000000pt;}
.h4{height:54.359375pt;}
.ha{height:76.260000pt;}
.h1{height:722.000000pt;}
.h0{height:1056.000000pt;}
.w7{width:105.933329pt;}
.w5{width:133.133331pt;}
.w4{width:158.666667pt;}
.w3{width:170.200002pt;}
.wc{width:170.733337pt;}
.w9{width:193.533325pt;}
.we{width:195.066671pt;}
.w6{width:212.800008pt;}
.wa{width:242.599996pt;}
.wb{width:274.666667pt;}
.w8{width:370.533325pt;}
.wd{width:654.000000pt;}
.w1{width:665.333333pt;}
.w2{width:815.999985pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.xf{left:8.533333pt;}
.x3{left:26.932000pt;}
.xa{left:30.906668pt;}
.x9{left:59.600001pt;}
.x7{left:61.066668pt;}
.x0{left:74.666667pt;}
.x14{left:99.600001pt;}
.xc{left:119.121336pt;}
.x15{left:123.600001pt;}
.x8{left:131.798668pt;}
.x2{left:149.240000pt;}
.xb{left:178.199997pt;}
.x12{left:221.321335pt;}
.x4{left:241.866670pt;}
.x13{left:310.466660pt;}
.x10{left:314.266664pt;}
.xe{left:320.578659pt;}
.x5{left:397.866660pt;}
.x6{left:528.333334pt;}
.xd{left:546.733342pt;}
.x11{left:586.266684pt;}
}
